<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863699937593-e7vqj9oj8b0no6ikk6iadj94puojcdgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863699937593-e7vqj9oj8b0no6ikk6iadj94puojcdgm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>863699937593-skf0bmcj8jtl5pkve0cmhvc09c7712dr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZVKR8jgjruNNsn-AEaPGin9ZMCOgNFaY</string>
	<key>GCM_SENDER_ID</key>
	<string>863699937593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.starwalk</string>
	<key>PROJECT_ID</key>
	<string>star-walk-4f185</string>
	<key>STORAGE_BUCKET</key>
	<string>star-walk-4f185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863699937593:ios:f494bcf4eb3cbfabc4e0e8</string>
</dict>
</plist>